.container {
    position: relative;
    margin: auto;
    margin-top: 130px;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at 85% 10%, white, grey);
    border-radius: 50%;
}
.container::before {
    content: "";
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    background: conic-gradient( rgb(250, 250, 250), rgb(250, 250, 250), rgb(201, 201, 201),   rgb(100, 100, 101), rgb(100, 100, 101), rgb(201, 201, 201), rgb(250, 250, 250));
    border-radius: 50%;
    z-index: -1;
}
#sphere {
    position: absolute ;
    left: 50%;
    top: 45px;
    transform: translate(-50%);
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: -3;
    box-shadow: inset 5px -5px 10px rgba(0,0,0,0.5);
}
#sphere div {
    position: relative;
    top: 12px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    z-index: 1;
    box-shadow: 3px -3px 10px rgba(0,0,0,0.5);
}


p {
    padding: 10px;
    margin: 0 auto;
    position: relative;
    width: 300px;
    background-color: rgb(253, 251, 249);
    border-radius: 25px;
    top: 110px;
    text-align: center;
    color: rgb(70, 22, 22);
    font-size: 50px;
    box-shadow: inset -5px 5px 10px rgba(0,0,0,0.5);
    
}
button {
    width: 75px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    text-shadow: -3px 3px 5px rgb(65, 65, 65);
}
button:hover {
    cursor: pointer;
}
.btns {
    top: 130px;
    position: relative;
    width: 300px;
    margin-left: 55px;
}
.start {
    background-color: green;
    background: radial-gradient(circle at 85% 5%, rgb(135, 250, 125), rgb(10, 134, 52));
    box-shadow: -5px 5px 15px 1px rgb(97, 97, 97),
                5px -5px 15px 1px rgb(253, 251, 249) ;
}
.start:hover {
    background: radial-gradient(circle at 85% 1%, rgb(81, 218, 68), rgb(0, 70, 23));
}
.stop {
    background-color: red;
    background: radial-gradient(circle at 75% 10%, rgb(255, 162, 162), rgb(221, 50, 19));
    box-shadow: -2px 8px 15px 1px rgb(97, 97, 97),
                2px -8px 15px 1px rgb(253, 251, 249)  ;
}
.stop:hover {
    background: radial-gradient(circle at 75% 1%, rgb(252, 124, 124), rgb(173, 0, 0));
}
.reset {
    background-color: grey;
    border-radius: 50%;
    height: 75px;
    background: radial-gradient(circle at 85% 10%, rgb(155, 243, 255), rgb(70, 92, 216));
    box-shadow: -4px 6px 15px 1px rgb(97, 97, 97),
                4px -6px 15px 1px rgb(253, 251, 249)  ;
}
.reset:hover {
    background: radial-gradient(circle at 85% 10%, rgb(89, 234, 253), rgb(33, 61, 218));
}